body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin-top: auto;
}

p, ul li {
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
}

nav {
    background-color: #FFEFD5;
    position: fixed;
    z-index: 1;
    width: 98.96%;
}

header {
    top: 70px;
    position: relative;
    margin-bottom: 220px;
    background-image: url('../img/backback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -353px;
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 30px;
  line-height: 107%;
}

h3{
  font-size: 30px;
}
h4 {
  text-align: center;
  font-size: 38px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 102px;
  margin-top: -65px;
  color: black;
  font-weight: normal;
}

h5 {
  text-align: center;
  font-size: 38px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 102px;
  margin-top: -71px;
  color: black;
  font-weight: normal;
}

h6 {
text-align: center;
font-size: 38px;
font-family: 'Josefin Sans', sans-serif;
margin-top: -45px;
}

p {
  line-height: 150%;
  font-size: 15px;
}
nav ul li {
  display: inline-block;
  margin: 0 50px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 5px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 27px;
}

ul li {
  margin: 10px 0;
}

.button {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background: black;

  color: white;
}

.project {
      margin: -4px 0;
      padding: 18px;
      margin-top: -15px;
  }

.project .button {
  margin-top: 10px;
}

.blue {
  background-color: #FFFAF0;
}

.image1 {
  width: 100%;
    height: 180px;
    margin-top: 9px;
  }

.credits_text{
  color: #202020;
  text-align: center;
  font-size: 13px;
}

.image2 {
  width: 100%;
  height: 172px;
  margin-top: 43px;
}

.image3 {
width:200px;
height:200px;
}

footer{
  text-align: center;
  margin: -20px;
}

footer h2 {
  font-size: 45px;
  margin-bottom: 100px;
  line-height: 70px;
}

.right-alignment {
  text-align: right;
}

li.empty {
    width: 77px;
    border-top: 1px solid black;
    top: -5px;
    position: relative;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  text-decoration: underline;
}

.Madzia {
  width: 70%;
  height: 70%;
}

.stopka{
  margin-top: 18px;
}

/* ROOMIES */

.shoty {
  max-width: 58%;
  margin-bottom: 45px;
  margin-top: -35px;
}

h6 {
text-align: center;
font-size: 38px;
font-family: 'Josefin Sans', sans-serif;
margin-top: -45px;
}

/*______________________*/

.link_active.none{
  text-decoration: none;
}

.none:hover{
  text-decoration: underline;
}

.main_page_button{
margin-top: 90px;
margin-bottom: 19px;
margin-left: 15px
}

.project.blue.footer_style{
  margin-top: 50px
}

.text_footer{
  margin-bottom: 0px;
  margin-top: 0px;
}

.text_email{
  color: black;
}

.text_title{
margin-top: -5px;
}

.background--white{
  background-color: white;
  padding: 0px;
}

.background_light_with_margins{
  background-color: white;
  margin-top: -26px;
  padding: 46px;
  margin-left: -17px;
  margin-right: -17px;
  margin-bottom: -87px;
